@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");

body {
  font-family: "Russo One", sans-serif;
  font-size: 12pt;
  color: #fff;
  opacity: 0.9;
  min-height: 785px;
  max-height: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgba(108, 164, 232, 1) 0%,
    rgba(0, 255, 179, 0.6866947462578781) 100%
  );
}

.gallery-container {
  position: relative;
  animation: showLeft cubic-bezier(0.9, 0.01, 0.88, 1) 2s;
  margin: auto;
}

.gallery {
  position: relative;
  animation: showRight cubic-bezier(0.9, 0.01, 0.88, 1) 2s;
  width: 80%;
}

/* .gallery .frame {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
} */

.icon {
  width: 16px;
  height: 16px;
  opacity: 0.8;
  cursor: pointer;
}

.imageContainer {
  transition: 1s;
  display: inline-block;
  position: relative;
}

.imageContainer:hover .bg {
  transition: 1s;
  display: flex;
  transform: scale(1.05);
}

.imageContainer:hover .icon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 0;
  left: 20px;
  bottom: 0;
}

.bg {
  transition: 1s;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.281);
}

.imageContainer:hover .img {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.76);
}

#drop-area {
  border: 2px dashed rgba(54, 67, 255, 0.199);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
#drop-area.highlight {
  border-color: rgba(54, 67, 255, 0.514);
}
#gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
#gallery .img {
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.8);
  transition: 0.7s;
  display: block;
  overflow: hidden;
  margin: 10px;
  vertical-align: middle;
  border-radius: 5px;
  width: 290px;
  height: 350px;
  object-fit: cover;
}

#gallery .img-full-screen {
  width: 600px;
  height: auto;
}

#gallery .img:hover {
  transform: scale(1.05);
}

#fileElem {
  display: none;
}

.button {
  padding: 20px;
}
label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 100;
}

#gallery .lightbox {
  position: fixed;
  z-index: 999;
  width: 30%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  object-fit: cover;
}

.modal-window {
  display: none;
  max-width: 1200px;
  max-height: 800px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border-radius: 10px;
}

.modal-window > img {
  max-width: 1600px;
  max-height: 700px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.726);
}

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.315);
}

.modal-window .close-button {
  cursor: pointer;
  position: absolute;
  z-index: 1001;
  top: 10px;
  right: 20px;
  border: 0;
  background: rgba(0, 0, 0, 0.315);
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
  border-radius: 5px;
}

.cssload-container {
  position: relative;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(224, 242, 255);
  border-left-color: rgba(73, 209, 191, 0.98);
  border-radius: 999px;
  -o-border-radius: 999px;
  -ms-border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
}

.cssload-whirlpool {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  animation: cssload-rotate 950ms linear infinite;
  -o-animation: cssload-rotate 950ms linear infinite;
  -ms-animation: cssload-rotate 950ms linear infinite;
  -webkit-animation: cssload-rotate 950ms linear infinite;
  -moz-animation: cssload-rotate 950ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  animation: cssload-rotate 950ms linear infinite;
  -o-animation: cssload-rotate 950ms linear infinite;
  -ms-animation: cssload-rotate 950ms linear infinite;
  -webkit-animation: cssload-rotate 950ms linear infinite;
  -moz-animation: cssload-rotate 950ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  animation: cssload-rotate 1900ms linear infinite;
  -o-animation: cssload-rotate 1900ms linear infinite;
  -ms-animation: cssload-rotate 1900ms linear infinite;
  -webkit-animation: cssload-rotate 1900ms linear infinite;
  -moz-animation: cssload-rotate 1900ms linear infinite;
}

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes showLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes showRight {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
