@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  font-weight: 500;
  color: rgb(32, 32, 32);
  opacity: 0.9;
  min-height: 785px;
  max-height: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(360deg, #535d64, #7f7aac79);
}

.header {
  margin: 30px 20px 5px 20px;
}

.logo {
  width: 78px;
  height: 40px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px;
}

label#btn.btn-small {
  background-color: rgba(133, 133, 133, 0.2);
}

label#btn-upload.btn-small {
  background-color: rgba(133, 133, 133, 0.4);
}

#btn img {
  margin-top: 3px;
}

.gridContainer {
  right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gridContainer img {
  cursor: pointer;
  opacity: 0.8;
}

.gridContainer .twoCols {
  width: 32px;
  height: 29px;
  margin: 3px 0 3px 3px;
}

.gridContainer .fourCols {
  height: 24px;
  width: 28px;
  margin: 3px;
}

.gridContainer .threeCols {
  width: 28px;
  height: 32px;
  margin: 3px;
}

#gallery img.imgTwoCols {
  width: 420px;
  height: 480px;
  object-fit: cover;
}

#gallery img.imgThreeCols {
  width: 340px;
  height: 400px;
  object-fit: cover;
}

#gallery img.imgFourCols {
  width: 290px;
  height: 350px;
  object-fit: cover;
}

.gallery-container {
  position: relative;
  margin: 0 auto;
}

.gallery {
  position: relative;
  width: 80%;
}

.icon {
  transition: 400ms;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  cursor: pointer;
}

.imageContainer {
  animation: opacity 2s;
  display: inline-block;
  position: relative;
}

.imageContainer:hover .bg {
  opacity: 1;
  transform: scale(1.05);
}

.imageContainer:hover .icon {
  transition: 400ms;
  opacity: 1;
  width: 64px;
  height: 64px;
  top: 20px;
  right: 0;
  left: 20px;
  bottom: 0;
}

.bg {
  opacity: 0;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.281);
}

.imageContainer:hover .img {
  transform: scale(1.05);
}

.load-photo img {
  margin-top: 3px;
}

#drop-area {
  display: none;
  transition: 200ms;
  border: 2px dashed rgba(67, 79, 255, 0.8);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
#drop-area.highlight {
  transition: 200ms;
  border-color: rgb(2, 8, 85);
}
#gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
#gallery .img {
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.8);
  transition: 400ms;
  display: block;
  overflow: hidden;
  margin: 10px;
  vertical-align: middle;
  border-radius: 5px;
  width: 290px;
  height: 350px;
  object-fit: cover;
}

#gallery .img-full-screen {
  width: 600px;
  height: auto;
}

#gallery .img:hover {
  transform: scale(1.05);
}

#fileElem {
  display: none;
}

.button {
  padding: 20px;
}
label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 100;
}

#gallery .lightbox {
  position: fixed;
  z-index: 999;
  width: 30%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  object-fit: cover;
}

.modal-window {
  display: none;
  max-width: 1200px;
  max-height: 800px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border-radius: 10px;
}

.modal-window > img {
  max-width: 1600px;
  max-height: 700px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.726);
}

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-window .close-button {
  cursor: pointer;
  position: absolute;
  z-index: 1001;
  top: 10px;
  right: 10px;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: none;
}

.modal-window .close-button img {
  height: 15px;
  width: 15px;
}

.cssload-container {
  position: relative;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(224, 242, 255);
  border-left-color: rgba(73, 209, 191, 0.98);
  border-radius: 999px;
  -o-border-radius: 999px;
  -ms-border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
}

.cssload-whirlpool {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  animation: cssload-rotate 950ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  animation: cssload-rotate 950ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  animation: cssload-rotate 1900ms linear infinite;
}

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
